In [1]:
import sklearn

In [2]:
import pandas as pd

In [3]:
dataset=pd.read_csv("insurance_pre.csv")

In [4]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [5]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [6]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0     False        True
1      18  33.770         1      True       False
2      28  33.000         3      True       False
3      33  22.705         0      True       False
4      32  28.880         0      True       False
...   ...     ...       ...       ...         ...
1333   50  30.970         3      True       False
1334   18  31.920         0     False       False
1335   18  36.850         0     False       False
1336   21  25.800         0     False       False
1337   61  29.070         0     False        True

[1338 rows x 5 columns]

In [9]:
dependent=dataset[['charges']]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid={'criterion':['mae','friedman_mse','mse',],'max_features':['auto','sqrt','log2'],'splitter':['best','random']}
grid=GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True,verbose=3,n_jobs=1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 18 candidates, totalling 90 fits
[CV 1/5] END criterion=mae, max_features=auto, splitter=best;, score=nan total time=   0.0s
[CV 2/5] END criterion=mae, max_features=auto, splitter=best;, score=nan total time=   0.0s
[CV 3/5] END criterion=mae, max_features=auto, splitter=best;, score=nan total time=   0.0s
[CV 4/5] END criterion=mae, max_features=auto, splitter=best;, score=nan total time=   0.0s
[CV 5/5] END criterion=mae, max_features=auto, splitter=best;, score=nan total time=   0.0s
[CV 1/5] END criterion=mae, max_features=auto, splitter=random;, score=nan total time=   0.0s
[CV 2/5] END criterion=mae, max_features=auto, splitter=random;, score=nan total time=   0.0s
[CV 3/5] END criterion=mae, max_features=auto, splitter=random;, score=nan total time=   0.0s
[CV 4/5] END criterion=mae, max_features=auto, splitter=random;, score=nan total time=   0.0s
[CV 5/5] END criterion=mae, max_features=auto, splitter=random;, score=nan total time=   0.0s
[CV 1/5] END criterion=mae, max_features=sqrt, splitter=best;, score=nan total time=   0.0s
[CV 2/5] END criterion=mae, max_features=sqrt, splitter=best;, score=nan total time=   0.0s
[CV 3/5] END criterion=mae, max_features=sqrt, splitter=best;, score=nan total time=   0.0s
[CV 4/5] END criterion=mae, max_features=sqrt, splitter=best;, score=nan total time=   0.0s
[CV 5/5] END criterion=mae, max_features=sqrt, splitter=best;, score=nan total time=   0.0s
[CV 1/5] END criterion=mae, max_features=sqrt, splitter=random;, score=nan total time=   0.0s
[CV 2/5] END criterion=mae, max_features=sqrt, splitter=random;, score=nan total time=   0.0s
[CV 3/5] END criterion=mae, max_features=sqrt, splitter=random;, score=nan total time=   0.0s
[CV 4/5] END criterion=mae, max_features=sqrt, splitter=random;, score=nan total time=   0.0s
[CV 5/5] END criterion=mae, max_features=sqrt, splitter=random;, score=nan total time=   0.0s
[CV 1/5] END criterion=mae, max_features=log2, splitter=best;, score=nan total time=   0.0s
[CV 2/5] END criterion=mae, max_features=log2, splitter=best;, score=nan total time=   0.0s
[CV 3/5] END criterion=mae, max_features=log2, splitter=best;, score=nan total time=   0.0s
[CV 4/5] END criterion=mae, max_features=log2, splitter=best;, score=nan total time=   0.0s
[CV 5/5] END criterion=mae, max_features=log2, splitter=best;, score=nan total time=   0.0s
[CV 1/5] END criterion=mae, max_features=log2, splitter=random;, score=nan total time=   0.0s
[CV 2/5] END criterion=mae, max_features=log2, splitter=random;, score=nan total time=   0.0s
[CV 3/5] END criterion=mae, max_features=log2, splitter=random;, score=nan total time=   0.0s
[CV 4/5] END criterion=mae, max_features=log2, splitter=random;, score=nan total time=   0.0s
[CV 5/5] END criterion=mae, max_features=log2, splitter=random;, score=nan total time=   0.0s
[CV 1/5] END criterion=friedman_mse, max_features=auto, splitter=best;, score=nan total time=   0.0s
[CV 2/5] END criterion=friedman_mse, max_features=auto, splitter=best;, score=nan total time=   0.0s
[CV 3/5] END criterion=friedman_mse, max_features=auto, splitter=best;, score=nan total time=   0.0s
[CV 4/5] END criterion=friedman_mse, max_features=auto, splitter=best;, score=nan total time=   0.0s
[CV 5/5] END criterion=friedman_mse, max_features=auto, splitter=best;, score=nan total time=   0.0s
[CV 1/5] END criterion=friedman_mse, max_features=auto, splitter=random;, score=nan total time=   0.0s
[CV 2/5] END criterion=friedman_mse, max_features=auto, splitter=random;, score=nan total time=   0.0s
[CV 3/5] END criterion=friedman_mse, max_features=auto, splitter=random;, score=nan total time=   0.0s
[CV 4/5] END criterion=friedman_mse, max_features=auto, splitter=random;, score=nan total time=   0.0s
[CV 5/5] END criterion=friedman_mse, max_features=auto, splitter=random;, score=nan total time=   0.0s
[CV 1/5] END criterion=friedman_mse, max_features=sqrt, splitter=best;, score=0.781 total time=   0.0s
[CV 2/5] END criterion=friedman_mse, max_features=sqrt, splitter=best;, score=0.346 total time=   0.0s
[CV 3/5] END criterion=friedman_mse, max_features=sqrt, splitter=best;, score=0.702 total time=   0.0s
[CV 4/5] END criterion=friedman_mse, max_features=sqrt, splitter=best;, score=0.719 total time=   0.0s
[CV 5/5] END criterion=friedman_mse, max_features=sqrt, splitter=best;, score=0.638 total time=   0.0s
[CV 1/5] END criterion=friedman_mse, max_features=sqrt, splitter=random;, score=0.643 total time=   0.0s
[CV 2/5] END criterion=friedman_mse, max_features=sqrt, splitter=random;, score=0.584 total time=   0.0s
[CV 3/5] END criterion=friedman_mse, max_features=sqrt, splitter=random;, score=0.563 total time=   0.0s
[CV 4/5] END criterion=friedman_mse, max_features=sqrt, splitter=random;, score=0.675 total time=   0.0s
[CV 5/5] END criterion=friedman_mse, max_features=sqrt, splitter=random;, score=0.691 total time=   0.0s
[CV 1/5] END criterion=friedman_mse, max_features=log2, splitter=best;, score=0.733 total time=   0.0s
[CV 2/5] END criterion=friedman_mse, max_features=log2, splitter=best;, score=0.564 total time=   0.0s
[CV 3/5] END criterion=friedman_mse, max_features=log2, splitter=best;, score=0.755 total time=   0.0s
[CV 4/5] END criterion=friedman_mse, max_features=log2, splitter=best;, score=0.686 total time=   0.0s
[CV 5/5] END criterion=friedman_mse, max_features=log2, splitter=best;, score=0.713 total time=   0.0s
[CV 1/5] END criterion=friedman_mse, max_features=log2, splitter=random;, score=0.688 total time=   0.0s
[CV 2/5] END criterion=friedman_mse, max_features=log2, splitter=random;, score=0.553 total time=   0.0s
[CV 3/5] END criterion=friedman_mse, max_features=log2, splitter=random;, score=0.694 total time=   0.0s
[CV 4/5] END criterion=friedman_mse, max_features=log2, splitter=random;, score=0.650 total time=   0.0s
[CV 5/5] END criterion=friedman_mse, max_features=log2, splitter=random;, score=0.622 total time=   0.0s
[CV 1/5] END criterion=mse, max_features=auto, splitter=best;, score=nan total time=   0.0s
[CV 2/5] END criterion=mse, max_features=auto, splitter=best;, score=nan total time=   0.0s
[CV 3/5] END criterion=mse, max_features=auto, splitter=best;, score=nan total time=   0.0s
[CV 4/5] END criterion=mse, max_features=auto, splitter=best;, score=nan total time=   0.0s
[CV 5/5] END criterion=mse, max_features=auto, splitter=best;, score=nan total time=   0.0s
[CV 1/5] END criterion=mse, max_features=auto, splitter=random;, score=nan total time=   0.0s
[CV 2/5] END criterion=mse, max_features=auto, splitter=random;, score=nan total time=   0.0s
[CV 3/5] END criterion=mse, max_features=auto, splitter=random;, score=nan total time=   0.0s
[CV 4/5] END criterion=mse, max_features=auto, splitter=random;, score=nan total time=   0.0s
[CV 5/5] END criterion=mse, max_features=auto, splitter=random;, score=nan total time=   0.0s
[CV 1/5] END criterion=mse, max_features=sqrt, splitter=best;, score=nan total time=   0.0s
[CV 2/5] END criterion=mse, max_features=sqrt, splitter=best;, score=nan total time=   0.0s
[CV 3/5] END criterion=mse, max_features=sqrt, splitter=best;, score=nan total time=   0.0s
[CV 4/5] END criterion=mse, max_features=sqrt, splitter=best;, score=nan total time=   0.0s
[CV 5/5] END criterion=mse, max_features=sqrt, splitter=best;, score=nan total time=   0.0s
[CV 1/5] END criterion=mse, max_features=sqrt, splitter=random;, score=nan total time=   0.0s
[CV 2/5] END criterion=mse, max_features=sqrt, splitter=random;, score=nan total time=   0.0s
[CV 3/5] END criterion=mse, max_features=sqrt, splitter=random;, score=nan total time=   0.0s
[CV 4/5] END criterion=mse, max_features=sqrt, splitter=random;, score=nan total time=   0.0s
[CV 5/5] END criterion=mse, max_features=sqrt, splitter=random;, score=nan total time=   0.0s
[CV 1/5] END criterion=mse, max_features=log2, splitter=best;, score=nan total time=   0.0s
[CV 2/5] END criterion=mse, max_features=log2, splitter=best;, score=nan total time=   0.0s
[CV 3/5] END criterion=mse, max_features=log2, splitter=best;, score=nan total time=   0.0s
[CV 4/5] END criterion=mse, max_features=log2, splitter=best;, score=nan total time=   0.0s
[CV 5/5] END criterion=mse, max_features=log2, splitter=best;, score=nan total time=   0.0s
[CV 1/5] END criterion=mse, max_features=log2, splitter=random;, score=nan total time=   0.0s
[CV 2/5] END criterion=mse, max_features=log2, splitter=random;, score=nan total time=   0.0s
[CV 3/5] END criterion=mse, max_features=log2, splitter=random;, score=nan total time=   0.0s
[CV 4/5] END criterion=mse, max_features=log2, splitter=random;, score=nan total time=   0.0s
[CV 5/5] END criterion=mse, max_features=log2, splitter=random;, score=nan total time=   0.0s

C:\Users\saran\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
70 fits failed out of a total of 90.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
30 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of DecisionTreeRegressor must be a str among {'squared_error', 'friedman_mse', 'poisson', 'absolute_error'}. Got 'mae' instead.

--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of DecisionTreeRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
30 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of DecisionTreeRegressor must be a str among {'squared_error', 'friedman_mse', 'poisson', 'absolute_error'}. Got 'mse' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\saran\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan        nan        nan
        nan        nan 0.63714731 0.63129475 0.69021061 0.64161562
        nan        nan        nan        nan        nan        nan]
  warnings.warn(

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=1,
             param_grid={'criterion': ['mae', 'friedman_mse', 'mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [12]:
re=grid.cv_results_
print("The R score value for best parameter:{}".format(grid.best_params_))

The R score value for best parameter:{'criterion': 'friedman_mse', 'max_features': 'log2', 'splitter': 'best'}

In [13]:
table=pd.DataFrame.from_dict(re)

In [14]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.003126,0.006251,0.000000,0.000000,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
1,0.001644,0.003288,0.000000,0.000000,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
2,0.004368,0.003616,0.000000,0.000000,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
3,0.003265,0.004000,0.000000,0.000000,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
4,0.003209,0.003931,0.000000,0.000000,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
5,0.001126,0.002252,0.000000,0.000000,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
6,0.003089,0.003794,0.000000,0.000000,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
7,0.001601,0.003201,0.000000,0.000000,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
8,0.026142,0.012016,0.007479,0.007020,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.780553,0.345557,0.702167,0.719439,0.638021,0.637147,0.152702,3
9,0.017492,0.003548,0.006513,0.005932,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.643246,0.583678,0.563197,0.674861,0.691492,0.631295,0.050138,4
10,0.016579,0.001371,0.006326,0.005867,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.732798,0.564018,0.754947,0.686170,0.713119,0.690211,0.067038,1
11,0.011081,0.006299,0.010976,0.006232,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.688108,0.553320,0.694320,0.650410,0.621920,0.641616,0.051382,2
12,0.000000,0.000000,0.000000,0.000000,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
13,0.003125,0.006251,0.000000,0.000000,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
14,0.004609,0.006213,0.000000,0.000000,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
15,0.006121,0.003160,0.000000,0.000000,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
16,0.001601,0.003202,0.000000,0.000000,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
17,0.001609,0.003218,0.000000,0.000000,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5

In [15]:
age_input=float(input("age:"))
bmi_input=float(input("BMI:"))
children_input=int(input("children:"))
sex_male_input=int(input("sex male 0 or 1:"))
smoker_yes_input=int(input("smoker yes 0 or 1:"))

age:32
BMI:23.8
children:2
sex male 0 or 1:1
smoker yes 0 or 1:0

In [16]:
Future_predicion=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future Prediction: {}".format(Future_predicion))

Future Prediction: [5031.26955]

C:\Users\saran\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(